.alignSides {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-light {
  height: 32rem;
  text-align: right;
  background-color: white;
  color: #212121;
}

.card-dark {
  height: 32rem;
  text-align: left;
  background-color: #1b1b1b;
  color: white;
}

.projectCardLight {
  padding: 2rem 3rem;
  height: fit-content;
  text-align: right;
  margin-top: 2rem;
  margin-right: 8rem;
  width: 62rem;
  margin-left: 5rem;
  position: relative;
}

.projectCardDark {
  padding: 2rem 3rem;
  height: fit-content;
  text-align: left;
  width: 62rem;
  margin-left: 7rem;
  position: relative;
}
